.container {
	margin: 20px;
	border: 1px solid;
	padding: 10px;
	box-shadow: 5px 5px #888888;
}

.h2 p {
	text-align: center;
	color: #000104;
}

td,
th {
	vertical-align: middle !important;
	text-align: center !important;
}

.btn {
	margin-left: 5px;
}
.input-group {
	margin: 20px 0;
}

svg {
	height: 150px;
}

td:first-of-type,
td:first-of-type > div {
	height: 200px;
	width: 250px;
}
